.basic-button {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f7bb8;
  border: 1px solid #2f7bb8;
  margin: 10px 0;

  color: white;
  font-size: 0.85em;
  font-weight: bold;

  cursor: pointer;
}

.basic-button:hover {
  background-color: #5b9ed4;
  border: 1px solid #5b9ed4;
}

.basic-button:active {
  background-color: #356c99;
  border: 1px solid #356c99;
}

a {
  text-decoration: none;
}
